<div *ngIf="images" class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Iteracija kroz niz images -->
                <div *ngFor="let image of images" class="col-md-12">
                    <div class="image-box" style="margin-bottom: 20px; border: 1px solid #ccc; padding: 20px; border-radius: 5px; display: flex; align-items: center;">
                        <!-- Prikaz slike sa routerLink -->
                        <div style="flex: 1; margin-right: 20px; cursor: pointer;">
                            <img [routerLink]="['/images', image.product_id]" src="{{ image.imageUrl }}" class="img-fluid" style="max-width: 300px;"> <!-- Dodat routerLink -->
                        </div>
                        <!-- Prikaz detalja slike -->
                        <div style="flex: 2;">
                            <p><strong>Title:</strong> {{image.name}}</p>
                            <p><strong>Category:</strong> {{image.category}}</p>
                            <p><strong>Author:</strong> {{image.author}}</p>
                            <p><strong>Download Count:</strong> {{image.num_of_downloads}}</p>
                            <p><strong>Price:</strong> {{image.price | currency:'USD'}}</p>
                            <!-- Link ka detaljima slike sa routerLink -->
                            <p><a [routerLink]="['/images', image.product_id]">View Details</a></p> <!-- Dodat routerLink -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
