<div class="sidebar">
    <!-- Start of Category Select -->
    <div class="type-selector">
        <label for="productCategory" class="custom-select-label">Category:</label>
        <select id="productCategory" class="custom-select" #category>
            <option value="none">-</option>
            <option value="Nature">Nature</option>
            <option value="Animals">Animals</option>
            <option value="Sport">Sport</option>
            <option value="Cities">Cities</option>
            <option value="FilmsSeries">Films/Series</option>
        </select>
    </div>
    <!-- End of Category Select -->
    
    <!-- Start of Price Select -->
    <div class="price-selector">
        <label for="price" class="custom-select-label">Price:</label>
        <select id="price" class="custom-select" #price>
            <option value="none">-</option>
            <option value="Free">Free</option>
            <option value="<0-20">$0 - $19.99</option>
            <option value="20-30">$20 - $30</option>
            <option value="30+">$30+</option>
        </select>
    </div>
    <!-- End of Price Select -->

    <!-- Start of Search by Author -->
    <div class="author-search mt-3">
        <label for="searchAuthor" class="form-label">Search by Author:</label>
        <input type="text" id="searchAuthor" class="form-control" placeholder="Enter author's name" #author>
    </div>
    <hr>
    <button id="clearAll" class="btn btn-secondary mt-2" (click)="clearFilters()" #clearAll>Clear All</button>
    <button style="margin-left: 20px;" id="filterButton" class="btn btn-primary mt-2" #filterButton (click)="filterProducts()">Filter</button>
</div>
