<div class="sidebar">
    <!-- Start of Type Select -->
    <div class="type-selector">
        <label for="roomType" class="custom-select-label">Type:</label>
        <select id="roomType" class="custom-select">
            <option value="none">-</option>
            <option value="Conference Room">Conference Room</option>
            <option value="Classroom">Classroom</option>
            <option value="Meeting Room">Meeting Room</option>
            <option value="Auditorium">Auditorium</option>
        </select>
    </div>
    <div class="capacity-selector">
        <label for="capacity" class="custom-select-label">Capacity:</label>
        <select id="capacity" class="custom-select" >
            <option value="none">-</option>
            <option value="10-20">10-20</option>
            <option value="20-30">20-30</option>
            <option value="30-50">30-50</option>
            <option value="50-100">50-100</option>
            <option value="100+">100+</option>
        </select>
    </div>
    <!-- End of Capacity Select -->
    <div class="equipment-selector mt-3">
        <p class="mb-1">Equipment:</p>
        <div class="form-check">
            <input class="form-check-input equipment-checkbox" type="checkbox" >
            <label class="form-check-label" for="equipmentProjector">Projector</label>
        </div>
        <div class="form-check">
            <input class="form-check-input equipment-checkbox" type="checkbox" >
            <label class="form-check-label" for="equipmentWhiteboard">Whiteboard</label>
        </div>
        
        <div class="form-check">
            <input class="form-check-input equipment-checkbox" type="checkbox" >
            <label class="form-check-label" for="equipmentVideoSystem">
                Video System
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input equipment-checkbox" type="checkbox" >
            <label class="form-check-label" for="equipmentSoundSystem">
                Sound System
            </label>
        </div>
    </div>
    
</div>