/* Osnovni stil za body da se ukloni margin, za lepši prikaz */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Omogućava da body zauzima punu visinu */
}

/* Stil za sidebar */
.sidebar {
    background-color: #333333; /* Tamna pozadina */
    color: #fff; /* Bela boja teksta */
    padding: 20px; /* Unutrašnji razmak */
    font-family: Arial, sans-serif; /* Font */
    height: 93vh; /* Visina da zauzima celu visinu viewport-a */
    width: 250px; /* Fiksna širina */
    position: fixed; /* Pozicioniran fiksno da ostaje na mestu pri skrolovanju */
    bottom: 0; /* Vrh sidebar-a poravnan sa vrhom viewport-a */
    left: 0; /* Levi sidebar poravnan sa levom stranom viewport-a */
}

/* Stil za sadržaj pored sidebar-a */
.content {
    margin-left: 250px; /* Odstupanje sadržaja za širinu sidebar-a */
    padding: 20px; /* Razmak unutar sadržaja */
}

/* Ostali stilovi ostaju isti */

/* Stil za labele i select elemente */
.custom-select-label {
    display: block;
    margin-bottom: 5px; /* Razmak između labela i selecta */
}

.custom-select {
    width: 100%; /* Puna širina */
    padding: 8px; /* Unutrašnji razmak */
    margin-bottom: 20px; /* Razmak između elemenata */
    background-color: #444; /* Malo svetlija pozadina od sidebar-a */
    color: #fff; /* Bela boja teksta */
    border: 1px solid #555; /* Boja ivice */
    border-radius: 5px; /* Zaobljene ivice */
}

.form-control {
    width: 100%; /* Puna širina u okviru roditeljskog elementa */
    padding: 8px; /* Unutrašnji razmak za bolju čitljivost */
    margin-bottom: 20px; /* Razmak između elemenata */
    background-color: #444; /* Boja pozadine */
    color: #fff; /* Boja teksta */
    border: 1px solid #555; /* Boja ivice */
    border-radius: 5px; /* Zaobljene ivice */
}

