<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                      <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                      <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <div class="form-group">
                                            <input type="email" #loginEmail class="form-style" placeholder="Email">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>	
                                        <div class="form-group mt-2">
                                            <input type="password" #loginPassword class="form-style" placeholder="Password">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <button class="btn mt-4" (click)="login(loginEmail, loginPassword)">Login</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-3 pb-3">Sign Up</h4>
                                        <div class="form-group">
                                            <input type="text" #firstName class="form-style" placeholder="First Name">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>	
                                        <div class="form-group mt-2">
                                            <input type="text" #lastName class="form-style" placeholder="Last Name">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>	
                                        <div class="form-group mt-2">
                                            <input type="email" #registerEmail class="form-style" placeholder="Email">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input type="password" #registerPassword class="form-style" placeholder="Password">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <button class="btn mt-4" (click)="register(firstName, lastName, registerEmail, registerPassword)">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
