<div *ngIf="pdfs" class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Iteracija kroz niz pdf-ova -->
                <div *ngFor="let pdf of pdfs" class="col-md-12">
                    <div class="image-box" style="margin-bottom: 20px; border: 1px solid #ccc; padding: 20px; border-radius: 5px; display: flex; align-items: center;">
                        <!-- Prikaz ikonice PDF sa routerLink -->
                        <div style="flex: 1; margin-right: 20px; cursor: pointer;">
                            <img [routerLink]="['/pdfs', pdf.product_id]" src="{{ pdf.imageUrl }}" class="img-fluid" style="max-width: 300px;"> <!-- Dodat routerLink -->
                        </div>
                        <!-- Prikaz detalja PDF-a -->
                        <div style="flex: 2;">
                            <p><strong>Title:</strong> {{pdf.name}}</p>
                            <p><strong>Theme:</strong> {{pdf.category}}</p>
                            <p><strong>Author:</strong> {{pdf.author}}</p>
                            <p><strong>Download Count:</strong> {{pdf.num_of_downloads}}</p>
                            <p><strong>Price:</strong> {{pdf.price | currency:'USD'}}</p>
                            <!-- Link ka detaljima PDF-a sa routerLink -->
                            <p><a [routerLink]="['/pdfs', pdf.product_id]">View Details</a></p> <!-- Izmenjen routerLink -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
